body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: row;
}

.App {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 20px;
  height: 100dvh;
  width: 100dvw;
  background: rgb(17, 17, 220);
  background: radial-gradient(circle, rgb(6, 6, 86) 0%, rgb(2,0,36) 50%);
  overflow: hidden;
}
